.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-direction: column;
  min-width: 600px;
}

.container .search-button {
  border-top: 10px;
}
